---
const { portfolioItems } = Astro.props;
import { urlFor } from "../client/imageUrl";
---

<div
    class="p-4 grid max-w-7xl mx-auto mt-0 mb-8 gap-6 grid-cols-[repeat(auto-fill,_minmax(250px,_1fr))]"
>
    {
        portfolioItems && portfolioItems.map((item) => {
            const { title, slug, categories, mainImage } = item;
            return (
                <div class="card min-w-64 bg-white shadow-lg flex flex-col">
                    <a href={`/portfolio/${slug.current}`}>
                        <img
                            src={urlFor(mainImage).url()}
                            alt={title}
                            class="w-full h-auto self-start object-cover"
                        />
                    </a>
                    <div class="folio-details p-8 pb-0 bg-white mb-0 flex-1">
                        <h2 class="folio-headline text-xl m-0 mb-4 font-serif font-bold">
                            <a
                                href={`/portfolio/${slug.current}`}
                                class="folio-link text-inherit no-underline"
                            >
                                {title}
                            </a>
                        </h2>
                    </div>
                    <ul class="folio-tags p-0 pl-8 mb-4 text-xs flex flex-row flex-wrap">
                        {categories && categories.map((cat) => (
                            <li class="lowercase after:px-2 after:content-['|'] last:after:px-0 last:after:content-['']">
                                {cat.title}
                            </li>
                        ))}
                    </ul>
                </div>
            );
        })
    }
</div>
